/*Suomen lipun väri*/
.color-fin {
    background-color: #002F6C;
}

/*toinen sininen*/
.color-cornblue {
    background-color: #6495ED;
}

/*bavipalkin tyylittelyt*/
.navbar-custom .nav-link  {
    color: lightgrey;
}

.nav-link.active {
    color: lightgrey;
}

.nav-link:hover {
    background-color: rgba(100, 149, 237, 0.4);
    border-radius: 5px;
    padding: 5px;
}

.navbar-brand {
    color: lightgrey;
}

.navbar-brand:hover {
    background-color: rgba(100, 149, 237, 0.4);
    border-radius: 5px;
    padding: 5px;
}

/*koko sivuston yhteiset tyylittelyt*/
html, body {
height: 100%;
margin: 0;

}

body {
display: flex;
flex-direction: column;
background: #edf6ff;
}

main {
    flex: 1; /*täyttää jäljellä olevan tilan, vaaditaan sticky footeriin*/
}

/*About sivun tyylittelyt*/
#about1, #about2, #about3 {
    background-color: rgba(100, 149, 237, 0.4);
    margin-top: 15px;
    border-radius: 15px 50px;
    padding: 15px;
}

#img-about1, #img-about2, #img-about3 {
    border-radius: 50px 15px;
}




/*footerin tyylittelyt*/
footer {
    width: 100%;
    color: lightgrey;
    margin-top: auto;
    background-color: #002F6C;
    text-align: center;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  
}

footer .social-media {
    display: flex;
    gap: 10px;
}

@media only screen and (max-width: 600px) {
    footer .social-media {
        display: block;
    }
}

footer .social-media a {
    text-decoration: none;
    color: lightgrey;          /* Linkkien väri */
}

footer .social-media .insta-link:hover {
    background-color: #d62976;
    border-radius: 5px;
    padding: 3px;
}

footer .social-media .youtube-link:hover {
    background-color: #FF0033;
    border-radius: 5px;
    padding: 3px;
}



