.color-fin {
    background-color: #002F6C;
}

.navbar-custom .nav-link  {
    color: lightgrey;
}

.nav-link.active {
    color: lightgrey;
}

.navbar-custom .nav-link:hover {
    background-color: grey;
    color: lightgrey;
}
.navbar-brand {
    color: lightgrey;
}

html, body {
height: 100%;
margin: 0;

}

body {
display: flex;
flex-direction: column;
}

main {
    flex: 1; /*täyttää jäljellä olevan tilan, vaaditaan sticky footeriin*/
}

footer {
    color: lightgrey;
    margin-top: auto;
    background-color: #002F6C;
    text-align: center;
    padding: 1rem 0;
}

