body {
    background-color: rgb(175, 228, 219);
    font-family: 'Lucida Sans', sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
@media screen and (min-width: 500px) {
    body {
        margin: 30px;
    }
}
@media screen and (min-width: 750px) {
    body {
        margin: 50px;
    }
}

/* Yksinkertaistetut tyylit tiedoille */
#data-output {
    padding: 20px;
    background-color: lightgrey;
    border-radius: 8px;
    border-color: black;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    width: 90%;
    max-width: 900px;
}

/* Tiedon kenttien väli */
.data-item {
    margin-bottom: 20px;
}

.data-item h3 {
    margin-top: 0;
}