body {
    background-color: rgb(95, 212, 216);
    font-family: 'Lucida Sans', sans-serif;
    margin: 0px; /*navbarin marginaali pois */
    padding: 0px;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 90 %;
    max-width: 900px;
    margin: auto;
}
h1, p {
    text-align: center;
}

/*linkit*/
a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

/*navigaatiopalkki*/
.navbar {
    width: 100%;
}
.navbar ul {
    list-style-type: none;
    background-color: rgb(12, 3, 58);
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
    text-align: center;
}
.navbar li{
    margin: 0px;
}
.navbar a {
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: rgb(46, 117, 141);
}

/*suuret näytöt*/
@media screen and (min-width: 750px) {
    .navbar ul {
        flex-direction: column;
    }
    .navbar li {
        width: 100%;
        text-align: center;
    }
    main {
        width: 95%;
    }
}

/* tyylit tiedoille */
#vastaus {
    padding: 15px;
    background-color: lightgrey;
    border-radius: 8px;
    border-color: black;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 900px;
}
#vastaus a { /*linkkien tyylit*/
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;/*korvaa tekstin "..." jos on liian pitkä*/
    max-width: 100%;
}
/* Tiedon kenttien väli */
.data-item {
    margin-bottom: 20px;
}

.data-item h3 {
    margin-top: 20px;
}

/*taulukon tyylit*/
table {
    border-collapse: collapse;
    width: 100%;    
}
th, td {
    border: 1px solid black;
    padding: 10px; /* Adds space inside the cells */
    text-align: left; /* Align text to the left */
}
th {
    background-color: rgb(50, 166, 170); /* Light gray background for headers */
}
